/tmp
/__pycache__
/TumorSynth
!TumorSynth/mri_TumorSynth
/Task002_Tumor
/nnUNet-instalacion
/enviroment-tumores
#images/lumiere/*
/images
#/proyecto_base
proyecto_base/*
#!proyecto_base/noe/
#!proyecto_base/noe/**
!proyecto_base/data/
proyecto_base/data/*
!proyecto_base/data/FLENI/
proyecto_base/data/FLENI/*
!proyecto_base/data/FLENI/glioma_alto_anonimizado/
proyecto_base/data/FLENI/glioma_alto_anonimizado/*
#!proyecto_base/data/FLENI/glioma_alto_anonimizado/imagesTs/
#!proyecto_base/data/FLENI/glioma_alto_anonimizado/labelsTs/
/compartir
/errores_compilacion_docker
images-lumiere-procesadas.txt
images-lumiere.txt
